# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

##### .lstrip(), .rstrip(), .strip()

In [3]:
#.lstrip() removes white space from the left/front of a string
name = " Ryan"
print(name)
name = name.lstrip()
print(name)

 Ryan
Ryan

In [4]:
#.rstrip() removes whitespace from the right/back of a string
name = "Alex "
print(name)
name = name.rstrip()
print(name)

Alex
Alex

In [5]:
#.strip() remove whitespace surrounding a string -- front and back
name = " Cheetor "
print(name)
name = name.strip()
print(name)

 Cheetor
Cheetor

##### Using 'in' keyword

In [15]:
# use in for any type iterable, list, dictionary, string, tuple, set, and others
name = "Ryan Rhoades"
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in my_list:
    if num % 2 == 0:
        print(num, "even")
    else:
        print(num, "odd")
        
for letter in name:
    print(letter)
    
my_name = ["Ryan", "Rhoades"]

for name in my_name:
    print(name)

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
R
y
a
n

R
h
o
a
d
e
s
Ryan
Rhoades

##### Continue Statement

In [16]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in my_list:
    if num % 2 == 0:
        print(num, "Even")
    elif num == 5:
        continue
    else:
        print(num, "Odd")

1 Odd
2 Even
3 Odd
4 Even
6 Even
7 Odd
8 Even
9 Odd
10 Even

##### Break Statement

In [19]:
# will break out of current loop
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#while loop using x as a counter and an index to access values in the list
x = 0
while x < len(my_list):
    if my_list[x] % 2 == 0:
        print(my_list[x], "even")
    elif my_list[x] == 7:
        break
    else:
        print(my_list[x], "odd")
    x += 1

1 odd
2 even
3 odd
4 even
5 odd
6 even

In [22]:
#for looping through values with an index
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(len(my_list)):
    if my_list[i] % 2 == 0:
        print(my_list[i],"even")
    elif my_list[i] == 7:
        print("This is a 7 so we're breaking!")
        break
    else:
        print(my_list[i], "odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even
This is a 7 so we're breaking!

In [20]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in my_list:
    if num % 2 == 0:
        print(num, "even")
    elif num == 7:
        break
    else: 
        print(num, "odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration
for name in my_list:
    pass #Come back later to finish -- it will not break your code if not complete

In [23]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for name in my_list:

IndentationError: expected an indented block (74577492.py, line 2)

##### Double For Loops

In [24]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list2 = [2, 6, 10, 14, 18]
for num in my_list:
    if num in my_lsit2:
        if num*2 == num2:
            print(num, num2)

1 2
3 6
5 10
7 14
9 18

### While Loops

In [27]:
#while keyword, condition for the while loop to run

names = ["Ryan", "Alex", "Dyonne", "Steve", "Raul", "Katie"]
# print(len(names))
index = 0
while index < len(names):
    print(names[index])
    index += 1

6
Ryan
Alex
Dyonne
Steve
Raul
Katie

##### looping 'While True'

In [31]:


flag = True
index = 0
while True:
    print(names[index])
    if names[index] == "Dyonne":
        break
    index += 1

Ryan
Alex
Dyonne

##### While & For Loops Used Together

In [33]:
names = ["Ryan", "Alex", "Dyonne", "Steve", "Raul", "Katie"]

index = 0
while index < len(names):
    print(names[index])
    for letter in names[index]:
        print(letter)
    index += 1
    
# for name in names:
#     for letter in name:
#         print(letter)

Ryan
R
y
a
n
Alex
A
l
e
x
Dyonne
D
y
o
n
n
e
Steve
S
t
e
v
e
Raul
R
a
u
l
Katie
K
a
t
i
e
R
y
a
n
A
l
e
x
D
y
o
n
n
e
S
t
e
v
e
R
a
u
l
K
a
t
i
e

##### The Range Function

In [35]:
# range start, stop, step
# if only one parameter is provided, it will default to stop
# goes up to but does not include stop number

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

### String Manipulation Exercise

In [37]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# capitalise the first letter of each name and remove whitespace

names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# capitalise the first letter of each name and remove whitespace
# HINT: You will need to use a for loop for iteration

cleaned_names = []

for name in names:
    name = name.strip().title()
    cleaned_names.append(name)
    
print(cleaned_names)

['Connor', 'Max', 'Evan', 'Jordan']

In [ ]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

names_clean = []
for name in names:
    names_clean.append(name.title().strip())
print(names_clean)

In [36]:
for name in names:
    print(name.title().strip())

Ryan
Alex
Dyonne
Steve
Raul
Katie

In [39]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']

for i in range(len(names)):
    print(names[i].title().strip())

Connor
Max
Evan
Jordan

In [44]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
print(names[0].title().strip())
print(names[1].title().strip())
print(names[2].title().strip())
print(names[3].title().strip())

Connor
Max
Evan
Jordan

## Lists

##### Declaring Lists

In [ ]:
our_empty_list = [] #<-- empty list
our_list = [1, 2, 3, 4, 5]

##### Indexing a List

In [49]:
names = ["Ryan", "Alex", "Dyonne", "Steve", "Raul", "Katie"]
#indexing into list
print(names[3])

#print starting at an index and going to end of the list
print(names[2:])

#print list reverse
print(names[::-1])

#print from index 1 and go by 2's
print(names[1::2])

print(names[::-1])

Steve
['Dyonne', 'Steve', 'Raul', 'Katie']
['Katie', 'Raul', 'Steve', 'Dyonne', 'Alex', 'Ryan']
['Alex', 'Steve', 'Katie']
['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul', 'Katie']

### List Methods

##### .append()

In [61]:
# append will always add to the back of the list
names = ["Ryan", "Alex", "Dyonne", "Steve", "Raul", "Katie"]

names.append("Teddie")

print(names)

['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul', 'Katie', 'Teddie']

##### .insert()

In [64]:
#insert will insert value into a list at the given index

names.insert(2, "Cassie")
print(names)

['Ryan', 'Alex', 'Cassie', 'Cassie', 'Cassie', 'Dyonne', 'Steve', 'Raul', 'Katie', 'Teddie']

##### .pop()

In [53]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable 

name_removed = names.pop(1)
print(name_removed)
print(names)

Alex
['Ryan', 'Cassie', 'Cassie', 'Dyonne', 'Steve', 'Raul', 'Katie', 'Teddie']

In [54]:
print(names)

['Ryan', 'Cassie', 'Cassie', 'Dyonne', 'Steve', 'Raul', 'Katie', 'Teddie']

##### .remove()

In [60]:
# value to be removed, not an index
print(names)
for name in names:
    if name == "Cassie":
        names.remove(name)
print(names)

['Ryan', 'Alex', 'Cassie', 'Cassie', 'Cassie', 'Dyonne', 'Steve', 'Raul', 'Katie', 'Teddie']
['Ryan', 'Alex', 'Cassie', 'Dyonne', 'Steve', 'Raul', 'Katie', 'Teddie']

In [65]:
print(names)
while "Cassie" in names:
    names.remove("Cassie")
print(names)

['Ryan', 'Alex', 'Cassie', 'Cassie', 'Cassie', 'Dyonne', 'Steve', 'Raul', 'Katie', 'Teddie']
['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul', 'Katie', 'Teddie']

### Working With Lists

##### del()

In [67]:
# index to be removed, not value 
# BE CAREFUL with del, can cause an indexing error if not used carefully
print(names)
del(names[0])
print(names)

['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul', 'Katie', 'Teddie']
['Alex', 'Dyonne', 'Steve', 'Raul', 'Katie', 'Teddie']

##### min()

In [70]:
num_list = [3, 6, 5, 10, 22, 7]

smallest_num = min(num_list)
print(smallest_num)
print(min(num_list))

3
3

##### max()

In [72]:
num_list = [3, 6, 5, 10, 22, 7]
biggest_num = max(num_list)
print(biggest_num)
print(max(num_list))

22
22

##### sum()

In [73]:
num_list = [3, 6, 5, 10, 22, 7]

sum_list = sum(num_list)
print(sum_list)
print(sum(num_list))

53
53

##### sorted()

In [75]:
num_list = [3, 6, 5, 10, 22, 7]
sorted_list = sorted(num_list)
print(sorted_list)
print(sorted(num_list))

[3, 5, 6, 7, 10, 22]
[3, 5, 6, 7, 10, 22]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [76]:
num_list = [3, 6, 5, 10, 22, 7]
print(num_list)
num_list.sort()
print(num_list)

[3, 6, 5, 10, 22, 7]
[3, 5, 6, 7, 10, 22]

##### Copying a List

In [77]:
# [:] copies a list, doesn't alter original'
num_list = [3, 6, 5, 10, 22, 7]
print(num_list)
new_list = num_list[:]
print(new_list)

[3, 6, 5, 10, 22, 7]
[3, 6, 5, 10, 22, 7]

##### Looping Through Lists

In [81]:
names = ["Ryan", "Alex", "Dyonne", "Steve", "Raul", "Katie"]
# Two ways to loop through lists

for name in names:
    print(name)
print("\n")   
for i in range(len(names)):
    print(names[i])

Ryan
Alex
Dyonne
Steve
Raul
Katie


Ryan
Alex
Dyonne
Steve
Raul
Katie

##### 'in' keyword

In [82]:
# Check if the input number's double is in the list provided
doubles = [1, 2, 5, 8, 6, 20, 18, 14]

num = 4

if num * 2 in doubles:
    print("The double exists")
else:
    print("Its not here, my dude hyeaahhhhhhhhh")

The double exists

In [83]:
doubles = [1, 2, 5, 8, 6, 20, 18, 14]
num = 4
for numbers in doubles:
    if numbers == num * 2:
        print(numbers, "Yay a double")
    else:
        print("Boo not a double")

Boo not a double
Boo not a double
Boo not a double
8 Yay a double
Boo not a double
Boo not a double
Boo not a double
Boo not a double

##### 'not in' keyword

In [84]:
rangers = ["Chris", "Tyler", "Tarun", "Alex", "Kathy"]

name = "Phyllis"

if name not in rangers:
    print(name, "is not a ranger")

Phyllis is not a ranger

##### Checking an Empty List

In [86]:
our_list = []

if our_list == []:
    print("This list is empty")

This list is empty

##### Removing Instances with a Loop

In [89]:
# while, remove
rangers = ["Chris", "Tyler", "Tarun", "Alex", "Kathy"]
print(rangers)
while "Tyler" in rangers:
    rangers.remove("Tyler")
print(rangers)

for name in rangers:
    if name == "Kathy":
        rangers.remove(name)
print(rangers)

rangers = ["Chris","Chris","Chris", "Tyler","Chris", "Tarun","Chris", "Alex", "Kathy"]
print(rangers)
while "Chris" in rangers:
    rangers.remove("Chris")
print(rangers)

['Chris', 'Tyler', 'Tarun', 'Alex', 'Kathy']
['Chris', 'Tarun', 'Alex', 'Kathy']
['Chris', 'Tarun', 'Alex']
['Chris', 'Chris', 'Chris', 'Tyler', 'Chris', 'Tarun', 'Chris', 'Alex', 'Kathy']
['Tyler', 'Tarun', 'Alex', 'Kathy']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [3]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

In [90]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']

new_names = []
for name in names:
    if name not in new_names:
        new_names.append(name)
print(new_names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

In [91]:
no_dup = []
while names:
    name = names.pop()
    if name not in names:
        no_dup.append(name)
print(no_dup)

['kevin', 4, 3, 2, 'max', 'evan', 'bob', 'connor']

In [ ]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

names_no_dupes = []

for name in names:
    if name not in names_no_dupes:
        names_no_dupes.append(name)
        
print(names_no_dupes)

In [93]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
new_names = []

for name in names:
    if name not in new_names:
        new_names.append(name)

print(new_names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [97]:
# number comprehension
# with a regular for loop

nums = []

for i in range(100):
    nums.append(i)
print(nums)

print("\n")

#list comprehension syntax
num_comp = [i for i in range(100)]

print(num_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]


[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [98]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [103]:
# squared numbers comprehension
#  [variable, transform, condition]
my_list = [2, 4, 6, 8, 10]

squares = [x**2 for x in my_list]
print(squares)

squares2 = [x**2 for x in range(10)]
print(squares2)

new_list = []
for x in my_list:
    new_list.append(x**2)
print(new_list)

[4, 16, 36, 64, 100]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[4, 16, 36, 64, 100]

In [105]:
names = ["Legolas", "Frodo", "Aragorn", "Gimli", "Gandalf", "Pippin"]

first_letter = [name[0] for name in names]

print(first_letter)

first_letter_list = []
for name in names:
    first_letter_list.append(name[0])
print(first_letter_list)

['L', 'F', 'A', 'G', 'G', 'P']
['L', 'F', 'A', 'G', 'G', 'P']

In [107]:
names = ["Legolas", "Frodo", "Aragorn", "Gimli", "Gandalf", "Pippin"]
g_names = []

for name in names:
    if name[0] == "G":
        g_names.append(name)
print(g_names)

print("\n")

g_names2 = [name for name in names if name[0] == "G"]

print(g_names2)

['Gimli', 'Gandalf']


['Gimli', 'Gandalf']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [115]:
tup_1 = 1, 2, 3 # first way of creating a tuple
tup_2 = (1 ,2, 3)

print(type(tup_1))
print(type(tup_2))

print(len(tup_1))

print("\n")
#Looping over a tuple
print("Looping over a Tuple")
for number in tup_1:
    print(number)
    
print("\n")
print("Looping over a tuple with index")
# Looping over a tuple with an index
for x in range(len(tup_1)):
    print(tup_1[x])
    
#tup_1.append(4) <-- error cannot append to a tuple

<class 'tuple'>
<class 'tuple'>
3


Looping over a Tuple
1
2
3


Looping over a tuple with index
1
2
3

AttributeError: 'tuple' object has no attribute 'append'

##### sorted()

In [137]:
import random

class_list = ['Perry', 'Cassie', 'Dyonne', 'Aften', 'Chris', 'Kathy',' Steve','Raul', 'Tarun', 'Tyler','Katie', 'Kelsey', 'Teddie']
print(random.choice(class_list))

Tarun

In [146]:
import random
from time import sleep

class_list = ['Perry', 'Cassie', 'Dyonne', 'Aften', 'Chris', 'Kathy',' Steve','Raul', 'Tarun', 'Tyler','Katie', 'Kelsey', 'Teddie']

for z in range(5):
    print('.', end=' ', flush=True)
    sleep(0.5)
print(random.choice(class_list))

. . . . . Teddie

In [145]:
tup_3 = (20, 6, 19, 11, 5, 3, 1, 43)

tup_list = list(tup_3)
print(type(tup_list))
sorted_tup = sorted(tup_3)
print(sorted_tup)



random_list = [3, 4, 66, 77, 23]

combine_list = sorted_tup + random_list

print(combine_list)
print(type(sorted_tup))

<class 'list'>
[1, 3, 5, 6, 11, 19, 20, 43]
[1, 3, 5, 6, 11, 19, 20, 43, 3, 4, 66, 77, 23]
<class 'list'>

##### Adding values to a Tuple

In [148]:
tup_2 = (1 ,2, 3)
tup_2 = tup_2 + (5,)

print(tup_3)

(1, 2, 3, 5)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [1]:
alist = [1,11,14,5,8,9]

for i in alist:
    if i < 10:
        print(i)

1
5
8
9

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [7]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

l_1.extend(l_2)  
l_1.sort()  
print(l_1)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]